# THIS FILE IS MANAGED BY ANSIBLE; ANY MANUAL CHANGES WILL BE LOST

# Custom environment variables
{% for var_name, var_value in setup_shell_env.items() %}
  {% if var_name == "PATH" and var_value is iterable and not (var_value is string) %}

    {% for path in var_value %}
if not contains "{{ path }}" $PATH
  set -gx PATH "{{ path }}" $PATH
end
    {% endfor %}

  {% elif var_value is iterable and not (var_value is string) %}

# For other variables with list values, concatenate with spaces
set -gx {{ var_name }} "{{ var_value | join(' ') }}"

  {% else %}

# Simple variable assignment
set -gx {{ var_name }} "{{ var_value }}"

  {% endif %}
{% endfor %}
